.header {
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: var(--tertary-color);
    text-align: center;
}

.header button {
    background-color: transparent;
    border: none;
    border-top: 1px solid var(--border-color);
    margin: auto;
    padding: 15px;
    outline: none;
    width: 80%;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--textHeader-color);
    font-size: 1rem;
    cursor: pointer;
}