.button-container {
    display: flex;
    justify-content: right;
    margin-right: 50px;
    
}

.button-container button {   
    background-color: transparent;
    border: none;
    cursor: pointer;
}