.teams {
    margin: 5px auto;
    padding: 1rem;
    max-width: 321px;
    
}

.bar {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.teams h1 {
    font-weight: bold;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
}